html { scroll-behavior: smooth }

/* Hero Section */
#hero {
  position: relative;
  text-align: left;
}
.hero-background {
  display: block;
  width: 100%;
  height: calc(100vh - (clamp(4rem, 9vw, 7rem) + clamp(0.8rem, 2vw, 1.6rem)));
  object-fit: cover;
  object-position: left;
}
.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 20, 24, 0.5) border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content .main-container  {
  display: flex;
  align-items: center;
}
.hero-logo {
  flex: 1;
  width: clamp(20rem, 30vw, 56rem);
}
.hero-text {
  flex: 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: clamp(2rem, 4vw, 8rem);
  color: var(--light-shade);
}
.hero-subheading {
  font-size: var(--heading-3);
  font-weight: 400;
  margin-bottom: clamp(2rem, 2vw, 4rem);
}
.hero-cta {
  background-color: var(--main-brand-color);
  color: var(--light-shade);
  font-size: var(--heading-4);
  font-weight: 400;
  padding: 0.6rem 3rem;
  border-radius: var(--base-border-radius);
  text-decoration: none;
}

/* Overview */
#overview {
  text-align: center;
  margin-top: calc(-1 * clamp(3rem, 3vw, 6rem));
  padding-top: clamp(6rem, 6vw, 12rem);
  padding-bottom: clamp(3rem, 4vw, 6rem);
}
#overview img {
  display: inline-block;
  width: clamp(20rem, 60vw, 56rem);
}
.mission-statement {
  font-size: var(--heading-4);
  margin: 0 auto;
  margin-bottom: clamp(3rem, 2vw, 6rem);
  width: 80%;
}

/* Responsive iframe */
#lvsp-video {
  position: relative;
  padding-top: 46.25%;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}
#lvsp-video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Benefits */
#benefits {
  background-color: var(--dark-shade);
  padding: clamp(3rem, 4vw, 6rem) 0;
  text-align: center;
}
#benefits h2 {
  font-size: var(--heading-1);
  font-weight: 600;
  color: var(--light-shade);
}
.benefit-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--dark-shade);
  gap: clamp(1rem, 2vw, 2rem);
}
.benefit {
  margin-top: clamp(4rem, 4vw, 6rem);
  padding: clamp(1.4rem, 2vw, 2rem);
  background-color: var(--light-shade);
  border-radius: var(--base-border-radius);
  position: relative;
}
.benefit img {
  width: clamp(6rem, 6vw, 10rem);
  position: absolute;
  top: calc(-1 * clamp(6rem, 6vw, 10rem)/2);
  left: calc(50% - clamp(6rem, 6vw, 10rem)/2);
}
.benefit h3 {
  margin-bottom: clamp(1rem, 2vw, 2rem);
  margin-top: clamp(3rem, 4vw, 4rem);
  font-size: var(--base-font-size);
}
.benefit p { font-size: var(--base-font-size) }

@media (max-width: 1024px) {
  .benefit-list { grid-template-columns: 1fr 1fr }
}

@media (max-width: 768px) {
  .mission-statement {
    margin-top: clamp(1rem, 2vw, 4rem);
    width: 90%;
  }
  #lvsp-video {
    padding-top: 51.25%;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .benefit-list { grid-template-columns: 1fr }
}

@media (orientation: portrait) {
  .hero-content .main-container { flex-direction: column }
  .hero-text {
    margin: 0;
    text-align: center;
    align-items: center;
  }
  .hero-subheading { margin-top: clamp(2rem, 2vw, 4rem) }
}