:root {
  --light-shade: #FAF9F9;
  --light-accent: #7D7982;
  --main-brand-color: #CF0A2C;
  --dark-accent: #BB8551;
  --dark-shade: #161418;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  line-height: 1;
}

body {
  background-color: var(--light-shade);
  color: var(--dark-shade);
}

.main-container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 1rem clamp(1rem, 2vw, 2rem);
}

/* Header */
header {
  position: sticky;
  top: 0;
  background-color: var(--light-shade);
  border-top: clamp(0.8rem, 2vw, 1.6rem) solid var(--main-brand-color);
  z-index: 1;
}
header .main-container {
  height: clamp(4rem, 9vw, 7rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img { width: clamp(10rem, 30vw, 24rem) }
header nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
header nav a {
  color: var(--light-accent);
  text-decoration: none;
  font-size: clamp(1rem, 3vw, 2rem);
  margin-left: clamp(1rem, 2vw, 2rem);
  transition: color 0.25s ease-in-out;
}
header nav a:hover { color: var(--main-brand-color) }
header nav a.current-page { color: var(--main-brand-color) }

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-brand-color);
  color: var(--light-shade);
  padding: 1rem;
}
footer .award-info {
  text-align: center;
  font-size: clamp(1rem, 2vw, 2rem);
  margin-right: clamp(1rem, 2vw, 2rem);
  line-height: 1.4;
}
footer .award-info a { color: var(--light-shade) }
footer img { width: clamp(4rem, 10vw, 8rem) }