.page-title {
  text-align: center;
  font-size: var(--heading-1);
  padding: clamp(1rem, 2vw, 2rem) 0;
  color: var(--dark-shade);
}

.resources {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(2rem, 4vw, 6rem);
  border-top: 0.1rem solid var(--dark-shade);
  padding: clamp(2rem, 4vw, 6rem) 0;
}
.resource-title {
  font-size: var(--heading-4);
  margin-bottom: clamp(0.6rem, 1vw, 1rem);
}
.resource-text {
  font-size: var(--base-font-size);
}
.resource ol {
  font-size: var(--base-font-size);
  list-style: upper-alpha;
  margin-left: clamp(2rem, 6vw, 6rem);
}
.resource a { color: var(--light-accent) }